@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

/* @font-face {
  font-family: 'Rum Raisin', sans-serif;
  src: url('../../asset/fonts/RumRaisin-Regular.woff') format('woff'), url('../../asset/fonts/RumRaisin-Regular.ttf') format('truetype');
  font-style: normal; 
  font-weight: normal; 
} */

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../../asset/image/fone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rum Raisin', sans-serif;
  letter-spacing: 0.07rem;
}

.header .title {
  text-align: center;
  color: #509695;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__link {
  height: 45px;
}

.github,
.rss {
  height: 100%;
}

.container {
  display: flex;
  /* height: 500px; */
}

.play-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 65%;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(217 238 241 / 85%);
  border-radius: 7px;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px;
  transform: rotateX(20deg);
  min-height: 142px;
  transform-origin: bottom;
  z-index: 9999;
  position: relative;
  margin: 10px auto 0 auto;
  width: 250px; */
}

.table-surface {
  box-shadow: 0px 40px 10px rgba(0,0,0,.2);
  background: #dd992d;
  background: -webkit-linear-gradient(#dd992d,#cd8c26);
  background: linear-gradient(#dd992d,#cd8c26);
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
}

.editor {
  height: 60%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.editor__css {
  width: 45%;
  background-color: rgb(217 238 241 / 85%);
  border-radius: 7px;
}

.editor__html {
  width: 45%;
  background-color: rgb(217 238 241 / 85%);
  border-radius: 7px;
}

.task-field {
  width: 30%;
  height: 460px;
  background-color: rgb(217 238 241 / 85%);
  border-radius: 7px;
}

.task-field__levels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.task-field__wrapper {
  width: 100%;
}

.levels-wrapper {
  display: flex;
  gap: 10px;
  width: 100px;
  height: 24px;
  overflow: hidden;
}

.level {
  flex-shrink: 0;
  margin: 5px 0px 5px 5px;
  cursor: pointer;
}

.descr-wrapper {
  /* width: 500px;
  height: 300px;
  position: relative; */
  display: flex;
  overflow: hidden;
}

.descrLevel {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem;
  margin: 5px;
  width: 95%;
  /* width: 100%; */
  height: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease; */
}

.active {
  opacity: 1;
}

.descrLevel__selector {
  display: inline-block;
  padding: 5px 8px;
  text-align: center;
  opacity: 0.8;
  background: rgb(104 190 189 / 60%);
  border-bottom: solid 2px rgba(104 190 189);
}

.controller {
  display: flex;
  margin-top: 10px;
}

.arrows {
  display: flex;
}

.arrows__left,
.arrows__right {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

.arrows__left::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 6px;
  right: 2px;
  border: solid 2px rgba(106 190 190);
  border-width: 2px 2px 0 0;
  transform-origin: center center;
  transform: rotate(-135deg);
}

.arrows__right::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 6px;
  left: 2px;
  border: solid 2px rgba(106 190 190);
  border-width: 2px 2px 0 0;
  transform-origin: center center;
  transform: rotate(45deg);
}

plate {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border-bottom: solid 5px #DDD;
  border-radius: 100px;
  background: white;
  box-shadow: 0px 8px 0px rgba(0,0,0,.1);
}

plate::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  height: 65px;
  width: 65px;
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: 0.4;
  background: rgba(255,255,255,1);
}

pre {
  font-family: 'Rum Raisin', sans-serif;
}

cookie {
  display: inline-block;
  position: relative;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  height: 30px;
  width: 30px;
  margin: 0;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 8px 4px ;
  border-color: #4f250d;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  background: #873d12;
}

cookie::before {
  content: "";
  display: block;
  position: absolute;
  right: 4px;
  bottom: 3px;
  height: 3px;
  width: 3px;
  border-radius: 3px;
  background-color: black;
}

cookie::after {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 6px;
  height: 3px;
  width: 3px;
  border-radius: 3px;
  background-color: black;
}

table {
  display: flex;
  /* transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0px auto 0px auto;
  min-height: 142px;
  padding: 15px 15px 22px 15px;
  display: inline-block;
  z-index: 999;
  position: relative;
  white-space: nowrap; */
}