@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

/* @font-face {
  font-family: 'Rum Raisin', sans-serif;
  src: url('../../asset/fonts/RumRaisin-Regular.woff') format('woff'), url('../../asset/fonts/RumRaisin-Regular.ttf') format('truetype');
  font-style: normal; 
  font-weight: normal; 
} */

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../../asset/image/2206_w032_n003_499a_p1_499.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rum Raisin', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: rgb(99 53 5);
}

.header .title {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(255 255 255 / 70%);
}

.main {
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__link {
  height: 45px;
}

.github,
.rss {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.play-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 65%;
  height: 100%;
  margin-left: 20px;
}

.play-field__table {
  position: relative;
  height: 40%;
  width: 90%;
  margin: 0 auto;
  perspective: 400px;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: rgb(217 238 241 / 85%); */
  /* border-radius: 7px; */
  transform: translate3d(0,0,0);
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(20deg);
  min-height: 142px;
  transform-origin: bottom;
  z-index: 9999;
  position: relative;
  margin: 10px auto 0 auto;
  width: 90%;
  height: 90%;
}

.table-surface {
  box-shadow: 0px 40px 10px rgba(0,0,0,.2);
  background: #dd992d;
  background: -webkit-linear-gradient(#dd992d,#cd8c26);
  background: linear-gradient(#dd992d,#cd8c26);
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
}

.editor {
  height: 60%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.editor__css {
  width: 45%;
  background-color: rgb(255 255 255 / 34%);
  border-radius: 7px;
}

.enter,
.reset,
.help {
  position: relative;
  top: 3px;
  right: 3px;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  background-color: rgba(180, 12, 12, 0.698);
  text-align: center;
  cursor: pointer;
  /* border: 1px solid #7e1515; */
  box-shadow: 0px 5px 8px 1px #591313;
  font-size: 0.8rem;
}

.css__title,
.html__title {
  height: 11%;
  padding: 5px 0px 0px 10px;
  background-color: rgb(255 255 255 / 30%);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.html__wrapper,
.css__wrapper {
  height: 100%;
  display: flex;
}

.editor__html {
  width: 45%;
  background-color: rgb(255 255 255 / 34%);
  border-radius: 7px;
}

.line-numbers {
  height: 89%;
  width: 10%;
  text-align: center;
  background-color: rgba(255 255 255 / 15%);
  border-bottom-left-radius: 7px;
}

.input-css {
  display: inline-block;
  background: rgba(255, 255, 255, 12%);
  border: none;
  width: calc(100% - 17px);
  font-family: 'Rum Raisin', sans-serif;
}

.text-html,
.text-css {
  height: 85%;
  width: 85%;
  margin-left: 5px;
}

.layout {
  margin: 0;
}

.task-field {
  width: 30%;
  height: 100%;
  background-color: rgb(255 255 255 / 34%);
  border-radius: 7px;
}

.task-field__levels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.task-field__wrapper {
  height: 100%;
  width: 100%;
}

.levels-wrapper {
  display: flex;
  position: relative;
  gap: 10px;
  height: 24px;
  width: 110px;
  overflow: hidden;
}

.level {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  margin: 5px 0px 5px 5px;
  opacity: 0;
  cursor: pointer;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: rgb(255 255 255);
  box-shadow: 0px 1px 4px 0px #f9f4f4a8;
}

.rightIndicator {
  background-color: #60a92d;
}

.descr-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.descrLevel {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.active {
  opacity: 1;
}

.descrLevel__selector {
  display: inline-block;
  padding: 5px 8px;
  text-align: center;
  opacity: 0.8;
  background: rgb(255 255 255 / 60%);
  border-bottom: solid 2px rgb(255 255 255);
}

.controller {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.arrows {
  display: flex;
}

.arrows__left,
.arrows__right {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

.arrows__left::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 6px;
  right: 2px;
  border: solid 2px rgb(255 255 255);
  border-width: 2px 2px 0 0;
  transform-origin: center center;
  transform: rotate(-135deg);
}

.arrows__right::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 6px;
  left: 2px;
  border: solid 2px rgb(255 255 255);
  border-width: 2px 2px 0 0;
  transform-origin: center center;
  transform: rotate(45deg);
}

.burger__btn {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 22px;
  z-index: 110;
  cursor: pointer;
}

.burger__btn:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 0;
  left: 0;
  height: 2px;
  background-color: rgb(255 255 255);
  transition-duration: 0.3s;
}

.burger__btn:after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255 255 255);
  transition-duration: 0.3s;
}

.burger__btn .line-burger {
  position: absolute;
  display: inline-block;
  top: calc( 50% - 1.5px );
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255 255 255);
  transition-duration: 0.3s;
  /* transform: translateY(1px) translateX(-2px) rotate(90deg); */
}

.transform:before {
  transform: translateY(11px) translateX(8px) rotate(90deg);
}

.transform:after {
  transform: translateY(-9px) translateX(18px) rotate(90deg);
}

.transform .line-burger {
  transform: translateY(1px) translateX(-2px) rotate(90deg);
}

.burger__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100vh;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: #ffe6cce8;
  transition-duration: 0.5s;
  overflow: auto;
  z-index: 100;
}

.level-burger {
  cursor: pointer;
}

.highlight-level {
  color: #CCC;
  background-color: red;
  text-decoration: underline;
}

.open {
  visibility: visible;
  right: 0;
}

plate {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 10px;
  border-bottom: solid 5px #DDD;
  border-radius: 100px;
  background: white;
  cursor: pointer;
}

plate::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  height: 95px;
  width: 95px;
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: 0.4;
  background: rgba(255,255,255,1);
}

plate#green {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 10px;
  border-bottom: solid 5px #537c4a;
  border-radius: 100px;
  background: rgb(85, 195, 115);
  cursor: pointer;
}

plate#green::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  height: 95px;
  width: 95px;
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: 0.4;
  background: rgb(85, 195, 115);
}

pre {
  font-family: 'Rum Raisin', sans-serif;
}

cookie.small {
  display: inline-block;
  position: relative;
  /* top: calc(50% - 15px);
  left: calc(50% - 15px); */
  height: 30px;
  width: 30px;
  margin: 0;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 8px 4px ;
  border-color: #4f250d;
  background: #873d12;
  cursor: pointer;
}

cookie.small::before {
  content: "";
  display: block;
  position: absolute;
  right: 4px;
  bottom: 3px;
  height: 3px;
  width: 3px;
  border-radius: 3px;
  background-color: black;
}

/* cookie.small::after {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 6px;
  height: 3px;
  width: 3px;
  border-radius: 3px;
  background-color: black;
} */

cookie.big {
  display: inline-block;
  position: relative;
  /* top: calc(50% - 15px);
  left: calc(50% - 15px); */
  height: 60px;
  width: 60px;
  margin: 0;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 8px 4px ;
  border-color: #4f250d;
  background: #873d12;
  cursor: pointer;
}

cookie.big::before {
  content: "";
  display: block;
  position: absolute;
  right: 13px;
  bottom: 12px;
  height: 5px;
  width: 5px;
  border-radius: 3px;
  background-color: black;
}

/* cookie.big::after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 5px;
  width: 5px;
  border-radius: 3px;
  background-color: black;
} */

tablecloth {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 90%;
  margin-top: calc(50% - width);
  /* transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0px auto 0px auto;
  min-height: 142px;
  padding: 15px 15px 22px 15px;
  display: inline-block;
  z-index: 999;
  position: relative;
  white-space: nowrap; */

  box-shadow: 0px 10px 10px rgba(0,0,0,.4);
  border-radius: 3px;
  /* background: #dd992d; */
  /* background: linear-gradient(#dd992d,#cd8c26); */
  background-image: url('../../asset/image/tablecloses.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

tablecloth *:hover {
  box-shadow: 0px 10px 10px rgba(214, 25, 25, 0.665);
}

coffee {
  position: relative;
  border-radius: 100px;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  height: 60px;
  width: 60px;
  display: inline-block;
  background: #493518;
  border-color: #e3dcd3;
  /* transition: transform ease 1s; */
  z-index: 1000;
  cursor: pointer;
}

coffee::before {
  content: "";
  display: block;
  position: absolute;
  background: #e3dcd3;
  height: 25%;
  width: 30%;
  top: 17px;
  left: calc(50% - -50%);
  border-radius: 112px;
}

croissant {
  width: 34px;
  /* top: calc(50% - 21px);
  left: calc(50% - 21px); */
  position: relative;
  z-index: 1000;
  border-radius: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 12px;
  border-style: solid;
  border-width: 6px 4px 9px 4px;
  height: 39px;
  display: inline-block;
  background: orange;
  border-color: #bd6e07;
  /* transition: transform ease-out .2s; */
  cursor: pointer;
}

croissant::before {
  content: "";
  display: block;
  position: absolute;
  height: 69%;
  width: 80%;
  bottom: 27px;
  left: calc(50% - 53%);
  border-radius: 13px;
  background: orange;
  border-color: #bd6e07;
  border-width: 3px 4px 6px 4px;
  border-style: solid;
  border-top-left-radius: 51px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 6px;
}

croissant::after {
  content: "";
  display: block;
  position: absolute;
  height: 69%;
  width: 80%;
  top: 30px;
  left: calc(50% - 53%);
  border-radius: 13px;
  background: orange;
  border-color: #bd6e07;
  border-width: 6px 4px 3px 4px;
  border-style: solid;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 51px;
  box-shadow: 0px 8px 0px rgba(0,0,0,.2);
}

eggs,
eggs.boiled {
  display: inline-block;
  position: relative;
  top: 25px;
  margin: 30px 10px;
  width: 30px;
  height: 35px;
  border-style: solid;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 125px;
  border-bottom-left-radius: 125px;
  border-width: 2px 4px 6px 4px;
  background: #ececda;
  border-color: #e2dfd7;
  /* transition: transform ease-out .2s; */
  cursor: pointer;
}

eggs::before,
eggs.boiled::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255,255,255,.3);
  height: 30%;
  width: 30%;
  top: 0px;
  left: calc(50% - 15%);
  border-radius: 100px;
}

eggs.fired {
  display: inline-block;
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  z-index: 300;
  background: #ececda;
  border-color: #e2dfd7;
  /* transition: transform ease-out .2s; */
  cursor: pointer;
}

eggs.fired::before {
  content: "";
  display: block;
  position: absolute;
  background: #FFC107;
  height: 40%;
  width: 30%;
  top: 15px;
  left: calc(50% - 28%);
  border-radius: 100px;
}

toast {
  display: inline-block;
  position: relative;
  /* top: calc(50% - 35px);
  left: calc(50% - 30px); */
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 8px 2px 4px 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #e9cb93;
  border-color: #965909;
  z-index: 300;
  /* transition: transform ease-out .2s; */
  cursor: pointer;
}

toast::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255,255,255,.3);
  height: 77%;
  width: 69%;
  top: 0px;
  left: calc(50% - 35%);
  border-radius: 8px;
}

orange {
  display: inline-block;
  position: relative;
  /* top: calc(50% - 35px);
  left: calc(50% - 30px); */
  height: 60px;
  width: 60px;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 10px 4px;
  background: orange;
  border-color: #bd6e07;
  z-index: 300;
  /* transition: transform ease-out .2s; */
  cursor: pointer;
}

orange::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255,255,255,.3);
  height: 30%;
  width: 30%;
  top: 0px;
  left: calc(50% - 15%);
  border-radius: 100px;
}

apple {
  display: inline-block;
  position: relative;
  /* top: calc(50% - 35px);
  left: calc(50% - 30px); */
  height: 60px;
  width: 60px;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 10px 4px;
  background: #7cd53d;
  border-color: #60a92d;
  z-index: 300;
  /* transition: transform ease-out .2s; */
  cursor: pointer;
}

apple::before {
  content: "";
  display: block;
  position: absolute;
  background: rgb(110 66 23);
  height: 33%;
  width: 6%;
  bottom: 42px;
  left: calc(50% - 3%);
  border-radius: 3px;
}

redhot {
  display: inline-block;
  position: relative;
  top: 20px;
  height: 68px;
  margin: 20px 10px;
  width: 18px;
  background: #e7711f;
  border-radius: 30px;
  border: solid 2px #d36519;
  border-width: 2px 2px 6px 2px;
  /* transition: transform ease-out .2s; */
  cursor: pointer;
}

redhot::before {
  content: "";
  display: block;
  position: absolute;
  background: rgb(110, 66, 23);
  height: 20%;
  width: 14%;
  bottom: 37px;
  left: 43%;
  border-radius: 3px;
  rotate: 90deg;
}

/* redhot::after {
  content: "";
  display: block;
  position: absolute;
  background: rgb(110, 66, 23);
  height: 20%;
  width: 14%;
  bottom: 14px;
  left: 43%;
  border-radius: 3px;
  rotate: 90deg;
} */

coffee#with-milk {
  position: relative;
  border-radius: 100px;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  height: 60px;
  width: 60px;
  display: inline-block;
  background: #e1af62;
  border-color: #e3dcd3;
  /* transition: transform ease-out .2s; */
  z-index: 1000;
  cursor: pointer;
}

coffee #with-milk::before {
  content: "";
  display: block;
  position: absolute;
  background: #e3dcd3;
  height: 25%;
  width: 30%;
  top: 17px;
  left: calc(50% - -50%);
  border-radius: 112px;
}

plate > cookie.small {
  top: 60px;
}

plate > eggs.fired {
  top: 2px;
}

toast > redhot.fired {
  top: -38px;
}

plate > toast {
  top: 36px;
}

toast > eggs.fired {
  top: calc(50% - 44px);
  left: calc(50% - 30px);
}

plate > croissant {
  top: 50px;
}

[data-tooltip] {
  position: relative; /*Относительное позиционирование */
}

[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /*Абсолютное позиционирование*/
  width: 300px; /*Ширина подсказки*/
  right: -6rem; 
  top: 0; /*Положение подсказки*/
  /* background: #3989c9; Синий цвет фона */
  color: rgb(46, 25, 3); /* Цвет текста */
  padding: -3rem; /* Поля вокруг текста */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: -5rem; /* Положение подсказки */
}

.right {
  animation: myAnimTarget 1s ease 0s infinite normal forwards;
  animation-delay: 0.5s;
}

@keyframes myAnimTarget {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-20px);
	}
}

.wrongAnswer {
  animation: myAnimWrong 1s ease-in 0s 1 normal forwards;
}

@keyframes myAnimWrong {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

.rightAnswer {
  animation: myAnimRightAnswer 1s ease 0s 1 normal forwards;
}

@keyframes myAnimRightAnswer {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-100px);
	}
}